<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321812486042-dae8jb7hnefai3mk0v25v37j8ep2ee6q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321812486042-dae8jb7hnefai3mk0v25v37j8ep2ee6q</string>
	<key>API_KEY</key>
	<string>AIzaSyCJDZ_kffwqqFouGWK7EF3lRd-wfXyeMBA</string>
	<key>GCM_SENDER_ID</key>
	<string>321812486042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.houmiao.TeamBooks</string>
	<key>PROJECT_ID</key>
	<string>teambooks-2e28b</string>
	<key>STORAGE_BUCKET</key>
	<string>teambooks-2e28b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321812486042:ios:3e78ac1a9cc62b85238c23</string>
	<key>DATABASE_URL</key>
	<string>https://teambooks-2e28b-default-rtdb.firebaseio.com</string>
</dict>
</plist>