<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808189279990-3ouqu15i7r5htk1rpmlkh1sr48bolgv4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808189279990-3ouqu15i7r5htk1rpmlkh1sr48bolgv4</string>
	<key>API_KEY</key>
	<string>AIzaSyCmeVlYOgxuShcXHgx9lp4zCyWHiE0iuG8</string>
	<key>GCM_SENDER_ID</key>
	<string>808189279990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13HM</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-77912</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-77912.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808189279990:ios:fcfdd8e395290a9fa8f6d7</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-77912-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>